<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ${head}
    <!-- <title>${friend.name}'s Info</title> -->
</head>
<body>
    <!-- 
    A Template with Data
    -----------------------
    Before we work with an Array of friends, we'll focus on rendering a single friend.
    Create a new template file named friend.html in your templates directory: -->
    <!-- <h1>A Friend</h1> -->
    <h1>${friend.name}</h1>
    <h3>${friend.handle}</h3>
    <h3>${friend.skill}</h3>

</body>
</html>