<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const button = document.getElementById('addTodo');

        button.addEventListener('click', function() {
                console.log('Clicked');
            });
        // if(button){

        // }else{
        //     console.log('You Have a Problem');
        // }
    </script>

    <title>New Todo</title>
</head>
<body>
    <h1>New ToDo</h1>
    <input type="text" placeholder="Enter Todo">
    <button type="button" id="addToDo">Add Todo</button>

    
</body>
</html>